.box-set{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}
 
.box{
    background: #ebebeb;
    height: 200px;
}

header{ 
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
}
nav{
   
    height: 50px;
    text-align: center;
    margin-bottom: 20px;
}
section{
     
    height: 50px;
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
    float: left;
}
article{
    color: #ebebeb;
    background: #777;
}
div{
    font-family: sans-serif;
    background-color: #777; 
}
p{
  background-color: #777;  
}
aside{
    background-color: lightcoral;
    height: 50px;
    width: 30%;
    float: right;
    text-align: center;
}
footer{
    background-color: lightsalmon;
    position: relative;
    bottom: -100px;
    height: 60px;
}